<li class = "d-flex justify-content-between border border-dark bg-secondary">
	<button data-burger-id="{{this.id}}" class="delete-burger">Delete</button>

	{{burger_name}} [ID#{{id}}]

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		Devour
	</button>
</li>
